body, h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif
}
body {
    font-size:16px;
    margin: auto;
}

body, html {
    height: 100%;
    width: 100%;
}

/*  GENERAL   */

.spacer {
    height: 4em;
}

.backdrop {
    background: url(/images/findASitterBackground.jpg) no-repeat center #979D9D;
    /* Image source: zelsdiary.com */
    background-size: contain;
    height: 100%;
}

.backdropClean {
    background: url(/images/findASitterBackgroundClean.jpg) no-repeat center #979D9D;
    /* Image source: zelsdiary.com */
    background-size: contain;
    height: 100%;
}

/* ---------- */

/* FRONT PAGE */

.searchBar {
    width: 100%;
    padding-top: 10em;
    padding-bottom: 7em;
    text-align: center;
}

.actionButtons {
    padding: 1em 1em 1em 1em;
    color: white;
    text-align: center;
    width: 100%;
}

.bannerMessage {
    text-align: center;
    padding: 10em 1em 1em 1em;
    color: white;
}

.welcomeMessage {
    text-align: center;
    padding: 1em 1em 1em 1em;
    color: white;
}

.middleBox {
    height: auto;
    width: 35em;
    margin: 5em auto 1em;
    padding: 5em 3em 3em 3em;
    background-color: #7adeda;
}

.centerSection {
    width: 100%;
    padding: 1em 0em 0em 1em;
    text-align: center;
}

/* ---------- */

/*  SITTERS   */

.sitterSplitFrame {
    margin: auto;
    background: blue;
}

.sitterInfoBox {
    width: 25em;
    padding: 1em 3em 1em 3em;
    margin: 1em auto 1em;
    background-color: #7adeda;
}


.sitterColumn {
    background-color: rgba(138, 43, 226, 0);
    width: 100%;
    display: inline-block;
    float: left;
    white-space: nowrap;
}

.sitterRatingBox {
    display: inline;
    width: 10%;

}

.message {
    width: 20em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 1em auto 1em;
    background-color: #a9fffc;
}

.inbox {
    width: 25em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 1em auto 1em;
    background-color: #7ADEDA;
}

.profileInfoBox {
    width: 25em;
    padding: 1em 3em 1em 3em;
    margin: 1em auto 1em;
    float: left;
    background-color: #7adeda;
}

.profileContainer {
    width: 100%;
    margin: 0em 4em 0em 4em;
}

.navigationBar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

.navigationLink {
    float: left;
}

.navigationLink a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationLink a:hover {
    background-color: #111;
}

/* ---------- */

