<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Sitter</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="/main.css">

</head>
<body class="backdrop" style="text-align: center">

<ul class="navigationBar">
    <li class="navigationLink"><a th:href="@{'/'}">Front Page</a></li>
    <li class="navigationLink"><a th:with="baseUrl=(${session.loggedInUser}? '/logout' : '/login')"
                                  th:href="@{${baseUrl}}" th:text="${session.loggedInUser} ? 'Logout' : 'Login'">Login/Logout</a></li>
    <li class="navigationLink"><a th:with="baseUrl=(${session.loggedInUser}? '/welcome' : '/register')"
                                  th:href="@{${baseUrl}}" th:text="${session.loggedInUser} ? 'Edit Profile' : 'Register Profile'">Edit/Register</a></li>
</ul>

<h2 th:text="'Send a message to ' + ${sitter.getName()} + '!'"></h2>
<div class="sitterInfoBox" th:if="${sitter} != null">
    <p th:text="${sitter.getName()}"></p>
    <p th:text="${sitter.getAge()}"></p>
    <p th:text="${sitter.getEmail()}"></p>
    <p th:text="${sitter.getZipCodes()}"></p>
    <p th:text="${sitter.getTelephone()}"></p>
    <p th:text="${sitter.getYearsOfExperience()}"></p>
</div>

<form method="post" action="/contact/send" th:object="${message}">
    <p>Please leave information so the sitter can contact you:</p>
    <div>
        <input placeholder="Your name" type="text" name="senderName">
        <input placeholder="Your email" type="text" name="senderEmail">
        <input placeholder="Your phone number" type="text" name="senderPhone">
        <!--<input type="hidden" name="date" th:value="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}">-->
    </div>
    <input placeholder="Insert message..." type="text"  name="text" />
    <button type="submit">Send</button>
</form>

<p th:text="${messageStatus}"></p>
<a th:href="@{'/'}">Return to Home Page</a>

</body>
</html>