<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" type="text/css" href="/main.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<ul class="navigationBar">
    <li class="navigationLink"><a th:href="@{'/'}">Front Page</a></li>
    <li class="navigationLink"><a th:with="baseUrl=(${session.loggedInUser}? '/logout' : '/login')"
                                  th:href="@{${baseUrl}}" th:text="${session.loggedInUser} ? 'Logout' : 'Login'">Login/Logout</a></li>
    <li class="navigationLink"><a th:with="baseUrl=(${session.loggedInUser}? '/welcome' : '/register')"
                                  th:href="@{${baseUrl}}" th:text="${session.loggedInUser} ? 'Edit Profile' : 'Register Profile'">Edit/Register</a></li>
</ul>

<body class="backdrop">
    <div class="middleBox">
        <h4 style="width: 100%; text-align: center">Hello! Please login.</h4>
        <form method="post" action="/login" th:object="${sitterUser}">
            <div class="centerSection">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="Password" name="password">
            </div>
            <p style="color: red; width: 100%; text-align: center" th:text="${error }"></p>
            <div class="centerSection">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>