<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" type="text/css" href="/main.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="backdropClean">

<ul class="navigationBar">
    <li class="navigationLink"><a th:href="@{'/'}">Front Page</a></li>
</ul>

<form method="post" action="/registerSitter">
    <div class="middleBox">
        <h4 style="width: 100%; text-align: center">Please fill out the form</h4>
        <div class="centerSection">
            <span th:text="${error}" th:object="${sitter}"></span>
            <h5>General information:</h5>
            <span>Name: <input style="width: 100%" type="text" placeholder="Name" name="name"></span>
            <span>Age: <input style="width: 100%" type="text" placeholder="Age" name="age"></span>
            <span>Zip Codes: <input style="width: 100%" type="text" placeholder="ZipCode" name="zipCodes"></span>
            <span>Email: <input style="width: 100%" type="text" placeholder="Email" name="email"></span>
            <span>Phone: <input style="width: 100%" type="text" placeholder="Telephone" name="telephone"></span>
            <span>Years of experience: <input style="width: 100%" type="text" placeholder="Years of experience" name="yearsOfExperience"></span>
        </div>
        <div class="centerSection">
            <button type="submit">Become a sitter!</button>
        </div>
    </div>
</form>
</body>
</html>