<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="main.css">
    <head>
        <meta charset="UTF-8">
        <title>Sitters</title>
    </head>
    <body class="backdropClean">
        <ul class="navigationBar">
            <li class="navigationLink"><a th:href="@{'/'}">Front Page</a></li>
            <li class="navigationLink"><a th:with="baseUrl=(${session.loggedInUser}? '/logout' : '/login')"
                                          th:href="@{${baseUrl}}" th:text="${session.loggedInUser} ? 'Logout' : 'Login'">Login/Logout</a></li>
            <li class="navigationLink"><a th:with="baseUrl=(${session.loggedInUser}? '/welcome' : '/register')"
                                          th:href="@{${baseUrl}}" th:text="${session.loggedInUser} ? 'Edit Profile' : 'Register Profile'">Edit/Register</a></li>
        </ul>

        <div class="spacer"></div>
        <h4 style="width: 100%; text-align: center">Sitters in your area:</h4>
        <div class="sitterSplitFrame">
            <div class="sitterColumn" th:each="sitter : ${sitters}">
                <div class="sitterInfoBox">
                    <p th:text="'(ID: ' + ${sitter.getId()}+ ')'">ID</p>
                    <p th:text="'Name: ' + ${sitter.getName()}">NAME</p>
                    <p th:text="'Age: ' + ${sitter.getAge()}">AGE</p>
                    <p th:text="'Email: ' + ${sitter.getEmail()}">EMAIL</p>
                    <p th:text="'Phone: ' + ${sitter.getTelephone()}">TLF</p>
                    <p th:text="'Zip Code(s): ' + ${sitter.getZipCodes()}">ZIPCODES</p>
                    <p></p>
                    <a th:href="@{'/contact/' + ${sitter.getId()}}">Contact</a>
                </div>
            </div>
        </div>
    </body>
</html>